*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

:root {
  --cell-size: 10rem;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0;
  background-color: #f0c38e;
}

.board {
  width: 100vw;
  height: 80vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  height: var(--cell-size);
  width: var(--cell-size);
  border: 1px solid #312c51;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
  border-bottom: none;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: "";
  width: calc(var(--mark-size) * 0.1);
  height: var(--mark-size);
  background-color: #312c51;
  position: absolute;
}

/* .cell.x::before,
.cell.x::after {
  background-color: #312c51;
} */

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  background-color: #7d78a3;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
  background-color: #312c51;
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * 0.8);
  height: calc(var(--mark-size) * 0.8);
  background-color: #f0c38e;
}

.board.circle .cell:not(.x):not(.circle):hover::before {
  background-color: #7d78a3;
}

.board.circle .cell:not(.x):not(.circle):hover::after {
  background-color: #f0c38e;
}

.winning-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(49, 44, 81, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 8rem;
}

.winning-message button {
  font-size: 4rem;
  background-color: #fff;
  border: 1px solid #312c51;
  padding: 0.25em 0.5em;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.2s;
}

.winning-message button:hover {
  background-color: #312c51;
  color: #fff;
  border: 1px solid white;
}

.winning-message.show {
  display: flex;
}

.winning-message button:focus,
.winning-message button:active {
  outline: none;
}

h1 {
  text-align: center;
  font-size: 8rem;
  margin: 10px 0 0;
  text-decoration: underline;
  font-family: "Sofia", cursive;
  color: #312c51;
}

@media (max-width: 43.75em) {
  html {
    font-size: 50%;
  }
}
